{% extends 'base.html' %}

{% block content %}
    <h2>TEST PAGE</h2>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addTimeline"> Add Timeline </button>

    <div class="modal fade" tabindex="-1" role="dialog" id="addTimeline">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add timeline</h4>
                </div>
                <div class="modal-body">
                    <form role="form" method="POST" action=".">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name">Name: </label>
                            <input type="email" class="form-control"
                                   id="name" placeholder="Timeline name"/>
                        </div>

                        <div class="form-group">
                            <label for="color">Color: </label>
                            <input type="email" class="form-control"
                                   id="color" placeholder="Choose Color"/>
                        </div>

                        <div class="form-group">
                            <label class="btn btn-primary" for="my-file-selector">
                                <input id="my-file-selector" type="file" style="display:none;">Upload
                            </label>
                        </div>
                        <input type="submit" class="btn btn-lg btn-primary" value="Submit">
                    </form>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


{% endblock %}